/* *{
    margin: 0;
} */


h1 span {
    font-size: 2.9vh
}


.section{
    margin: 1vh 0;
}

.section p{
    line-height: 1.4rem;
}

.section ul{
    list-style: circle;
    padding: 0;
    margin: 0;
}

.section ul li{
    display: list-item;
    padding: 0.2rem 0;
    display: flex;
    justify-content: space-between;
    &::before {
        content: '=>';
        font-size: 1.2rem; /* O cualquier otro carácter o imagen */
        margin-right: 10px;
        align-content: center;
        color: var(--terciary-color)
      }


}

.section ul li p{
    margin: 0px;
    flex-grow: 1;
    align-content: center;
}

.footer{
    width: var(--container-width);
    padding: 1rem;
    text-align: center;
}


@media screen and (max-width: 900px) {
    :root{
        --container-width:85vw;
        transition: all 0.3s ease-in-out; 
    }
    .main{
        border-radius: 1rem;
        padding: 0.5rem;
        transition: all 0.3s ease-in-out;
    }
}


@media screen and (max-width:550px) {
    :root{
        --container-width:95vw;
        transition: all 0.3s ease-in-out; 
    }

}